extends  ../_skeleton

include ../components/_ui-posts

block variables
	- var activeCategory = 'pages'
	- var pageName = 'Blog Post'

block page 
	// Page Header
	include ../sections/_header-modern

	+breadcrumbs({
		category: activeCategory,
		path: [pageName],
		title: 'Top 10 Contemporary Dance Techniques',
		img: ''
	})

	section.section.section-lg.bg-default
		.container
			.row.row-50.justify-content-lg-between
				.col-lg-6
					ul.blog-post-meta
						li: a(href='#').badge News
						li
							span.icon.mdi.mdi-clock
							| May 11, 2018    
						li
							span.icon.mdi.mdi-eye
							| 345 views
					h3.blog-post-title Popular Contemporary Dance Techniques
					.blog-post-content
						p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit 
						p Ut tellus elementum sagittis vitae et leo duis. Tellus at urna condimentum mattis pellentesque id nibh tortor. Cras ornare arcu dui vivamus arcu felis bibendum ut tristique. Pellentesque id nibh tortor id aliquet. Adipiscing at in tellus integer. Commodo ullamcorper a lacus vestibulum sed arcu. Velit laoreet id donec ultrices. Ut porttitor leo a diam sollicitudin. Donec et odio pellentesque diam.
				.col-lg-6.col-xl-5
					+jpg('blog-post-1-518x569')
			.row
				.col-12
					+jpg('blog-post-2-1170x456') 
			.row.row-50
				.col-lg-7.order-lg-2
					h3.blog-post-title New Contemporary Dance Elements to Learn in 2018
					.blog-post-content
						p Morbi tristique senectus et netus et malesuada fames ac turpis. Libero volutpat sed cras ornare arcu dui vivamus. Pellentesque nec nam aliquam sem et. Fringilla ut morbi tincidunt augue interdum. Vel quam elementum pulvinar etiam non quam.
						article.quote-primary
							.quote-primary-body

								.quote-primary-text: p.q Sed odio morbi quis commodo odio. Donec enim diam vulputate ut pharetra sit. Purus faucibus ornare suspendisse sed. Cras ornare arcu dui vivamus arcu felis bibendum. Porta nibh venenatis cras sed felis eget velit aliquet sagittis.
							.quote-primary-footer
								.bg-dot
								p.quote-primary-cite Jane Smith
						p Viverra aliquet eget sit amet. Congue nisi vitae suscipit tellus mauris a diam. Mattis aliquam faucibus purus in massa tempor nec feugiat nisl. Neque egestas congue quisque egestas diam in arcu cursus. In nisl nisi scelerisque eu ultrices. Diam vulputate ut pharetra sit. Non nisi est sit amet facilisis magna etiam tempor orci.
						
						ul.list-marked
							li Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? 
							li Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur
								
				.col-lg-5.pr-lg-5
					.row.row-50
						.col-sm-6.col-lg-12
							+jpg('blog-post-3-398x283')
						.col-sm-6.col-lg-12
							+jpg('blog-post-4-398x283')
			.row
				.col-12
					.blog-post-share.text-lg-right
						ul.list-inline
							li.thin-title Share post
							li: a(href='#').icon.icon-sm.fa-facebook
							li: a(href='#').icon.icon-sm.fa-instagram
							li: a(href='#').icon.icon-sm.fa-twitter
							li: a(href='#').icon.icon-sm.fa-youtube-play
							
	section.section.section-lg.bg-default
		.container
			h3.text-center Related Posts
			.row
				.col-12
					// Owl Carousel
					.owl-carousel(data-items='1', data-md-items='2' data-lg-items='3' data-dots='true' data-nav='false' data-stage-padding='15', data-loop='false', data-margin='30', data-mouse-drag="false")
						+post-classic({
							img: 'post-classic-1-370x255',
							title: '5 Ways To Pick The Best Music For Dance',
							date: 'April 25, 2018',
							tagMod: 'post-classic-tag-secondary-2',
							tag: 'Tips'
						})
						+post-classic({
							img: 'post-classic-2-370x255',
							title: 'Registration For Children & Teen Programs Is Now Open!',
							date: 'April 25, 2018',
							tagMod: 'post-classic-tag-secondary',
							tag: 'News'
						})
						+post-classic({
							img: 'post-classic-3-370x255',
							title: 'Top 10 Popular Contemporary Dance Styles',
							date: 'April 25, 2018',
							tag: 'Dance'
						})
						
						
	// Page Footer
	include ../sections/_footer-classic
