extends  ../_skeleton

include ../components/_ui-box-icon
include ../components/_ui-team

block variables
	- var activeCategory = 'instructors'
	- var pageName = 'Instructor Page'

block page 
	// Page Header
	include ../sections/_header-modern

	+breadcrumbs({
		category: activeCategory,
		path: [pageName],
		img: ''
	})


	section.section.section-lg.bg-default
		.container
			.row.row-50
				.col-lg-6
					.team-item-info
						.team-item-info-name
							h3 Kate Anderson
							p.team-item-info-name-text Founder, Senior Instructor
						ul.team-info-list
							li
								span.icon.mdi.mdi-phone
								a(href='tel:#') 1-800-123-1234
							li
								span.icon.mdi.mdi-email-outline
								a(href='mailto:#') Info@demolink.org
							li.d-sm-block
								ul.social-list
									li: a(href='#').icon.icon-sm.fa-facebook
									li: a(href='#').icon.icon-sm.fa-instagram
									li: a(href='#').icon.icon-sm.fa-twitter
									li: a(href='#').icon.icon-sm.fa-youtube-play
						p Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo 
						article.quote-primary
							.quote-primary-body

								.quote-primary-text: p.q Morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, tristique senectus et netus et malesuada fames 
							.quote-primary-footer
								.bg-dot
								p.quote-primary-cite: img(src="images/speaker.png", alt="")
						a(href='#').button.button-primary.button-lg Get in touch
				.col-lg-6
					.block-decorate-img
						.block-decorate-inner
							+jpg('instructor-1-440x462')
	// Page Footer
	include ../sections/_footer-classic
