extends  ../_skeleton

include ../components/_ui-posts
include ../components/_ui-pagination

block variables
	- var activeCategory = 'pages'
	- var pageName = 'News'

block page 
	// Page Header
	include ../sections/_header-modern

	+breadcrumbs({
		category: activeCategory,
		path: [pageName],
		img: ''
	})


	section.section.section-lg.bg-default
		.container
			.row.row-70.justify-content-xl-between
				.col-lg-8
					.row.row-50.justify-content-center
						.col-md-6
							+post-classic({
								img: 'post-classic-4-370x255',
								title: 'Popular Contemporary Dance Techniques',
								date: 'April 25, 2018',
								tagMod: 'post-classic-tag-secondary',
								tag: 'News'
							})
						.col-md-6
							+post-classic({
								img: 'post-classic-5-370x255',
								title: 'Registration For Children & Teen Programs Is Now Open!',
								date: 'April 25, 2018',
								tagMod: 'post-classic-tag-secondary',
								tag: 'News'
							})
						.col-md-6
							+post-classic({
								img: 'post-classic-1-370x255',
								title: '5 Ways To Pick The Best Music For Dance',
								date: 'April 25, 2018',
								tagMod: 'post-classic-tag-secondary',
								tag: 'News'
							})
						.col-md-6
							+post-classic({
								img: 'post-classic-3-370x255',
								title: 'Top 10 Popular Contemporary Dance Styles',
								date: 'April 25, 2018',
								tag: 'Dance'
							})
						.col-md-6
							+post-classic({
								img: 'post-classic-6-370x255',
								title: 'Tips for Improving Your Contemporary Dancing',
								date: 'April 25, 2018',
								tagMod: 'post-classic-tag-secondary-2',
								tag: 'Tips'
							})
						.col-md-6
							+post-classic({
								img: 'post-classic-7-370x255',
								title: 'How Dancers Cope with Mental Stress',
								date: 'April 25, 2018',
								tagMod: 'post-classic-tag-secondary',
								tag: 'News'
							})
						+pagination-bootstrap('pagination-classic', 1, 3)
				.col-lg-4.col-xl-3
					.block-aside
						.block-aside-item
							h5.block-aside-title Categories
							ul.category-list
								li.active: a(href='#') All Categories
									span 12
								li: a(href='#') News
									span 3
								li: a(href='#') Dance
									span 4
								li: a(href='#') Tips
									span 6
								li: a(href='#') Skills
									span 2
						.block-aside-item
							h5.block-aside-title Search News
							// RD Search
							form.rd-search.form-sm(action="search-results.html", method="GET", data-search-live="rd-search-results-live")
								.form-wrap
									label(for="rd-search-form-input" class="form-label") Search
									input(class="form-input" id="rd-search-form-input" type="text" name="s" autocomplete="off")
									button(type='submit').button-search.icon.linearicons-magnifier

						.block-aside-item
							h5.block-aside-title Latest News
							.post-minimal
								h5.post-minimal-title: a(href='blog-post.html') Professional Dancers Recommend: Health Tips
								p.post-minimal-date April 25, 2018
							.post-minimal
								h5.post-minimal-title: a(href='blog-post.html') Top 8 Contemporary Dance Events This Year
								p.post-minimal-date April 25, 2018
							
						.block-aside-item
							h5.block-aside-title Newsletter
							// RD Mailform
							form.rd-mailform.text-left.form-sm(data-form-output="form-output-global", data-form-type='contact', method='post', action='bat/rd-mailform.php')
								
								.form-wrap
									label.form-label(for="contact-email") Enter Your E-mail
									input#contact-email.form-input(type="email" name="email" data-constraints="@Email @Required")
								
								.form-button
									button(type="submit").button.button-block.button-primary Subscribe
	// Page Footer
	include ../sections/_footer-classic
