extends  ../_skeleton

block variables
	- var activeCategory = 'pages'
	- var pageName = 'Timers & Counters'

block page 
	// Page Header
	include ../sections/_header-modern

	+breadcrumbs({
		category: activeCategory,
		path: [pageName],
		img: ''
	})

	
	section.section.section-lg.pt-0
		.container
			.box-countdown-light.bg-dot
				.box-countdown-light-inner
					h3 Featured Course
					p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.
					
					.countdown-primary.countdown-centered
						.countdown(data-type='until', data-time='17 Dec 2018 16:00', data-format='dhms')
							
	section.section.section-xl.decorated-section-1.decor-position-left
		.container
			.box-countdown-dark
				.row.row-30.align-items-center.justify-content-xl-between
					.col-lg-3.col-xl.text-center.text-lg-left
						h3 Workshop
						p.text-opacity-80 Vestibulum sed arcu non
							br
							|odio euismod lacinia.
					.col-lg-6.col-xl-7
						.countdown.countdown-centered(data-type='until', data-time='17 Dec 2018 16:00', data-format='dhms')
					.col-lg-3.col-xl.text-center
						a(href='#').button.button-primary.button-lg book now
						
	section.section
		+parallax({
			img: 'parallax-img-1.jpg',
			innerClass: 'section-xl context-dark text-center bg-dark-filter'
		})
			.container
				.row.row-50
					.col-sm-6.col-lg-3
						article.counter-classic
							.counter-classic-main
								.counter 50

							p.counter-classic-title Instructors
					.col-sm-6.col-lg-3
						article.counter-classic
							.counter-classic-main
								.counter 12

							p.counter-classic-title Workshops
					.col-sm-6.col-lg-3
						article.counter-classic
							.counter-classic-main
								.counter 34
								span.small k
							p.counter-classic-title Students
					.col-sm-6.col-lg-3
						article.counter-classic
							.counter-classic-main
								.counter 4

							p.counter-classic-title Partners
	// Page Footer
	include ../sections/_footer-classic
