-
	var
		htmlClass = "wide wow-animation",
		fonts = "//fonts.googleapis.com/css?family=Poppins:300,300i,400,500,600,700,800,900,900i%7CRoboto:400",
		subscribeFormCounter = 0,
		logo = {
			default: { normal: 'logo-default-156x41', retina: 'logo-default-156x41' },
			inverse: { normal: 'logo-inverse-156x41', retina: 'logo-inverse-156x41' },
			name: 'Contemp'
		},
		links = {
			post: 'blog-post.html',
			getTemplate:'#get-template' 
		},
		colors = {
			primary: '#7796CD'
		},
		menu = [
			{
				title: 'Home',
				category: 'home', 
				link: 'index.html'
			},
			{
				title: 'Pricing',
				category: 'pricing'
			},
			{
				title: 'Instructors',
				category: 'instructors',
				link: 'instructors.html',
				dropdown: [
					{ title: 'Instructor Page' }
				]
			},
			{
				title: 'Partners',
				category: 'partners'
			},
			{
				title: 'Pages',
				category: 'pages',
				link: '#',
				megamenu: [
					{
					title: 'Pages 1',
					list: [
						{ title: 'Typography' },
						{ title: 'Buttons' },
						{ title: 'Timers & Counters' },
						{ title: 'Forms' }
					]
					},
					{
					title: 'Pages 2',
					list: [
						{ title: 'Grid system' },
						{ title: 'Icon Lists' },
						{ title: 'Privacy policy' },
						{ title: 'Coming Soon' },
						{ title: 'Search results' }
					]
					},
					{
					title: 'Pages 3',
					list: [
						{ title: 'Blog Post' },
						{ title: 'News' },
						{ title: 'News 2' },
						{ title: 'About Us' }

					]
					},
					{
					title: 'Pages 4',
					list: [
						{ title: 'Gallery 1' },
						{ title: 'Gallery 2' },
						{ title: 'Schedule' },
						{ title: 'Schedule 2' }
					]
					}
				]
			},
			{
				title: 'Contacts',
				category: 'contacts'
			}
		];
